<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Groups</title>

    <link href="../../static/css/materialize.css" rel="stylesheet" th:href="@{/css/materialize.css}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, null);
  });



    </script>


</head>
<nav>
    <div class="nav-wrapper">
        <a class="GROUPS" href="#">Logo</a>
        <ul class="right hide-on-med-and-down" id="nav-mobile">
            <li>
                <a class="waves-effect green btn modal-trigger" href="#modal1"><i class="material-icons left">add</i>Add
                    group</a>
        </ul>
    </div>
</nav>
<body>

<table>
    <thead>
    <tr>
        <th>GROUP NAME</th>
        <th>DESCRIPTION</th>
        <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${groups.empty}">
        <td colspan="2"> No Groups created</td>
    </tr>
    <tr th:each="group : ${groups}">
        <td><span th:text="${group.groupName}"> Group name </span></td>
        <td><span th:text="${group.description}"> description </span></td>
        <td>
            <div class="row">
                <div class="col l12 m12 s12">
                    <a class="waves-effect red accent-4 btn-small"><i class="material-icons left">close</i>delete</a>
                </div>
                <div class="col l12 m12 s12">
                    <a class="waves-effect  blue btn-small"><i class="material-icons left">edit</i>edit</a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal Structure -->
<div class="modal" id="modal1">
    <div class="modal-content">
        <h4>Add Group</h4>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input class="validate" id="first_name" placeholder="Placeholder" type="text">
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input class="validate" id="last_name" type="text">
                        <label for="last_name">Last Name</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" href="#!">Agree</a>
</div>
</div>

</body>

</html>