<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Groups</title>

    <link href="../../static/css/materialize.css" rel="stylesheet" th:href="@{/css/materialize.css}"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems, null);
  });
    </script>


</head>
<nav>
    <div class="nav-wrapper">
        <a class="GROUPS" href="#">GROUPS</a>
        <ul class="right hide-on-med-and-down" id="nav-mobile">
            <li>
                <a class="waves-effect green btn modal-trigger" href="#modal1"><i class="material-icons left">add</i>Add
                    group</a>
        </ul>
    </div>
</nav>
<body>

<table>
    <thead>
    <tr>
        <th>GROUP NAME</th>
        <th>DESCRIPTION</th>
        <th>ACTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${groups.empty}">
        <td colspan="2"> No Groups created</td>
    </tr>
    <tr th:each="group : ${groups}">
        <td><span th:text="${group.groupName}"> Group name </span></td>
        <td><span th:text="${group.description}"> description </span></td>
        <td>
            <div class="row">
                <div class="col l12 m12 s12">
                    <form action="#" method="post"
                          th:action="@{/delete/group/{groupName}(groupName=${group.groupName})}" th:object="${group}">
                        <div class="row">
                            <button class="waves-effect red accent-4 btn-small" type="submit" value="Delete">
                                <i class="material-icons left">close</i> Delete
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<!-- Modal Structure -->
<div class="modal" id="modal1">
    <div class="modal-content">
        <h4>Add Group</h4>
        <div class="row">
            <form action="#" method="post" th:action="@{/add/group}" th:object="${groupDto}">
                <p>
                    Group name: <input th:field="*{groupName}" type="text">
                </p>
                <p>
                    Description: <input th:field="*{description}" type="text">
                </p>
                <p>
                <div class="row">
                    <button class="waves-effect green btn-small modal-trigger" type="submit" value="Submit">
                        <i class="material-icons left">add</i> Add group
                    </button>
                </div>
                </p>
            </form>
        </div>
    </div>
</div>
</div>

</body>

</html>