<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../../static/css/materialize.css"/>
    <script th:src="@{/js/materialize.js}" src="../../static/js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<table>
    <thead>
    <tr>
        <th>PRODUCT NAME</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.empty}">
        <td colspan="2"> No Products Available</td>
    </tr>
    <tr th:each="product : ${products}">
        <td><span th:text="${product.productName}"> Name </span></td>
        <td><span th:text="${product.price}"> price </span></td>
        <td><span th:text="${product.description}"> description </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>