<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../../static/css/materialize.css"/>
    <script th:src="@{/js/materialize.js}" src="../../static/js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<table>
    <thead>
    <tr>
        <th>ROLE NAME</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${roles.empty}">
        <td colspan="2"> No Roles Defined</td>
    </tr>
    <tr th:each="role : ${roles}">
        <td><span th:text="${role.roleName}"> Role name </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>