<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" th:href="@{/css/materialize.css}" href="../../static/css/materialize.css"/>
    <script th:src="@{/js/materialize.js}" src="../../static/js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<table>
    <thead>
    <tr>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>EMAIL</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> No Users Available</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.name}"> Name </span></td>
        <td><span th:text="${user.surname}"> Surname </span></td>
        <td><span th:text="${user.email}"> email </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>