<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link href="../../static/css/materialize.css" rel="stylesheet" th:href="@{/css/materialize.css}"/>
    <script src="../../static/js/materialize.js" th:src="@{/js/materialize.js}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>
<table>
    <thead>
    <tr>
        <th>NAME</th>
        <th>SURNAME</th>
        <th>EMAIL</th>
        <th>ROLE</th>
        <th>GROUPS</th>
        <th>ORDERS</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> No Users Available</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.name}"> Name </span></td>
        <td><span th:text="${user.surname}"> Surname </span></td>
        <td><span th:text="${user.email}"> email </span></td>
        <td><span th:text="${user.role.roleName}"> role </span></td>
        <td>
            <ul class="collection" th:each="group : ${user.groups}">
                <li class="collection-item" th:text="${group.groupName}"> groupName</li>
            </ul>
        </td>
        <td>
            <ul class="collection" th:each="order : ${user.orders}">
                <li class="collection-item" th:text="${order.orderId}"> orderID </li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>